#team {
    padding-top: 80px;
    position: relative;
    padding-bottom: 110px;
    min-height: 600px;
    -moz-box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    
    .site-container {
        padding-bottom: 30px;
        padding-top: 36px;
        -moz-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .team-wrapper {
        min-height: 300px;
        margin-left: -10px;
        margin-right: -10px;
    }
}


