.form-row{
    width: 100%;
    margin-bottom: 26px;
}

.form-row:last-child{
    margin-bottom: 0px;
}

.contact-form--container {
    width: 100%;
    max-width: 860px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 38px 26px;
    border-radius: 1rem;
}

.contact-form--container legend {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.site-input--wrapper {
    width: 100%;
    display: block;
}

.site-input--wrapper input[type="text"] {
    width: 100%;
    padding: 14px 14px ;
    outline: none;
    border: 0.8px solid rgb(0, 0, 0, 0.7);
    font-size: 17px;
}

.site-input--wrapper input[type="text"]::placeholder{
    color: gray;
}